<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atg.Inbody.mapper">
	<select id="selectList" parameterType="int" resultType="inbodyDto">
		SELECT MB_NO, WEIGHT, BMI, IB_DATE FROM INBODY 
		WHERE MB_NO = #{mb_no}
	</select>
</mapper>